.inbl {
  display: inline-block;
  vertical-align: top;
}
.static_figures {
  white-space: nowrap;
}


table.dataframe {
  border: 1px solid #8091A4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.dataframe td, table.dataframe th {
  border: 1px solid #AAAAAA;
  padding: 3px 3px;
}
table.dataframe tbody td {
  font-size: 13px;
}
table.dataframe tr:nth-child(even) {
  background: #DFDBF5;
}
table.dataframe thead {
  background: #B06B71;
  border-bottom: 2px solid #444444;
}
table.dataframe thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #F5D4DF;
}
table.dataframe thead th:first-child {
  border-left: none;
}

table.dataframe tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #F5F5F5;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #f6f6f6 66%, #F5F5F5 100%);
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #f6f6f6 66%, #F5F5F5 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%, #f6f6f6 66%, #F5F5F5 100%);
  border-top: 2px solid #444444;
}
table.dataframe tfoot td {
  font-size: 14px;
}
table.dataframe tfoot .links {
  text-align: right;
}
table.dataframe tfoot .links a{
  display: inline-block;
  background: #B06B71;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
